RUST_SERVER_STARTUP_ARGUMENTS="{{ rust_gameserver_startup_args }}"
RUST_SERVER_IDENTITY={{ rust_gameserver_identity }}
RUST_SERVER_MAXPLAYERS={{ rust_gameserver_maxplayers }}
RUST_SERVER_NAME="{{ rust_gameserver_name }}"
RUST_SERVER_DESCRIPTION="{{ rust_gameserver_description }}"
RUST_SERVER_WORLDSIZE={{ rust_gameserver_worldsize }}
RUST_RCON_PASSWORD={{ rust_gameserver_rcon_password }}
RUST_UPDATE_CHECKING={{ rust_gameserver_update_checking }}
RUST_SERVER_PORT={{ rust_gameserver_port }}
RUST_SERVER_QUERYPORT={{ rust_gameserver_query_port }}
RUST_SERVER_TAGS="{{ rust_gameserver_tags }}"
RUST_RCON_PORT={{ rust_gameserver_rcon_port }}
RUST_APP_PORT={{ rust_gameserver_app_port }}
RUST_OXIDE_ENABLED={{ rust_gameserver_oxide_enabled }}
RUST_OXIDE_UPDATE_ON_BOOT={{ rust_gameserver_oxide_update_on_boot }}
RUST_HEARTBEAT={{ rust_gameserver_heartbeat }}
RUST_SERVER_URL="{{ rust_gameserver_url }}"
RUST_SERVER_BANNER_URL="{{ rust_gameserver_banner_url }}"
RUST_SERVER_CRON_WIPE_SCHEDULE="{{ rust_gameserver_cron_wipe_schedule }}"
