#jinja2: trim_blocks:False
#!/bin/bash
# run as root
# https://www.bisecthosting.com/clients/index.php?rp=/knowledgebase/618/How-to-setup-automatic-server-wipes-on-a-Rust-server.html
wipe() {
{% if rust_gameserver_deployment == 'baremetal' %}  systemctl stop rust-{{ rust_gameserver_identity }}
{% else %}  docker stop rust-{{ rust_gameserver_identity }}
{% endif %}
  rm -f {{ rust_gameserver_data_dir }}/player.deaths.*
  rm -f {{ rust_gameserver_data_dir }}/*.map
  rm -f {{ rust_gameserver_data_dir }}/*.sav*

  if [ {{ rust_gameserver_wipe_bp }} -eq 1 ]; then
    rm -f {{ rust_gameserver_data_dir }}/*.states
    rm -f {{ rust_gameserver_data_dir }}/*.blueprints.*
  fi

  sudo sed -i~ '/^RUST_SERVER_SEED=/s/=.*/='$RANDOM'/' {{ rust_gameserver_data_dir }}/seed.env
{% if rust_gameserver_deployment == 'baremetal' %}  systemctl start rust-{{ rust_gameserver_identity }}
{% else %}  docker start rust-{{ rust_gameserver_identity }}
{% endif %}
}

# determine if we actually issue wipe now or not
# this is the day within the month
day=$( date +%d )

# in weekly, biweekly and monthly, we always wipe during the first week
if [ $day -lt 7 ]; then
  echo "Start of month, always wipe"
  wipe
elif [ "{{ rust_gameserver_wipe }}" == "biweekly" ] && [ $day -ge 15 ] && [ day -le 21]
then
  # we also wipe on the third week for biweekly
  echo "Third week of the month, biweekly wipe"
  wipe
elif [ "{{ rust_gameserver_wipe }}" == "weekly" ]
then
  echo "Weekly wipe"
  wipe
else 
  echo "No wipe today"
fi
