---
- name: Create config directories
  tags: rust_gameserver
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '755'
    owner: root
    group: root
  loop:
    - /etc/rust
    - /etc/rust/server
    - /etc/rust/server/{{ rust_gameserver_identity }}/oxide
    - /etc/rust/server/{{ rust_gameserver_identity }}/oxide/plugins
    - /etc/rust/server/{{ rust_gameserver_identity }}/cfg
    - /etc/rust/server/{{ rust_gameserver_identity }}/RustDedicated_Data
    - /etc/rust/server/{{ rust_gameserver_identity }}/RustDedicated_Data/Managed

- name: Copy configs to host
  tags: rust_gameserver
  become: true
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: '644'
    owner: root
    group: root
  loop:
    - src: rust.env.j2
      dest: /etc/rust/server/{{ rust_gameserver_identity }}/rust.env
    - src: seed.env.j2
      dest: /etc/rust/server/{{ rust_gameserver_identity }}/seed.env
    - src: wipe.sh.j2
      dest: /etc/rust/server/{{ rust_gameserver_identity }}/wipe.sh

# this should fire every week on the day of the week specified at the time
# and then the wipe script will determine whether or not to actually wipe
# depending on the rust_gameserver_wipe and the current day
- name: Cron wipe
  tags: rust_gameserver
  become: true
  ansible.builtin.cron:
    name: "rust_wipe_{{ rust_gameserver_identity }}"
    job: "bash /etc/rust/server/{{ rust_gameserver_identity }}/wipe.sh"
    cron_file: "rust_wipe_{{ rust_gameserver_identity }}"
    hour: "{{ rust_gameserver_wipe_hour_of_day }}"
    weekday: "{{ rust_gameserver_wipe_day_of_week }}"
    user: root

- name: Deploy rust server
  become: true
  community.docker.docker_container:
    name: "rust-{{ rust_gameserver_identity }}"
    image: ghcr.io/compscidr/rust-server
    pull: true
    volumes:
      - "/etc/rust/server/{{ rust_gameserver_identity }}:/steamcmd/rust/server/{{ rust_gameserver_identity }}:rw" # persist save files
      - "/etc/rust/server/{{ rust_gameserver_identity }}/rust.env:/etc/rust/rust.env" # lets us change the env without redeploying container
      - "/etc/rust/server/{{ rust_gameserver_identity }}/seed.env:/etc/rust/seed.env" # lets us change the seed without redploying container
      - "/etc/rust/server/{{ rust_gameserver_identity }}/oxide:/steamcmd/rust/oxide"  # plugins / plugin config
      - "/etc/rust/server/{{ rust_gameserver_identity }}/RustDedicated_Data:/steamcmd/rust/RustDedicated_Data" # dll plugins
    ports:
      - "{{ rust_gameserver_port }}:{{ rust_gameserver_port }}"
      - "{{ rust_gameserver_port }}:{{ rust_gameserver_port }}/udp"
      - "{{ rust_gameserver_rcon_port }}:{{ rust_gameserver_rcon_port }}"
      - "{{ rust_gameserver_rcon_port }}:{{ rust_gameserver_rcon_port }}/udp"
      - "{{ rust_gameserver_query_port }}:{{ rust_gameserver_query_port }}"
      - "{{ rust_gameserver_query_port }}:{{ rust_gameserver_query_port }}/udp"
      - "{{ rust_gameserver_rcon_web_port }}:8080"
      - "{{ rust_gameserver_app_port }}:{{ rust_gameserver_app_port }}"
      - "{{ rust_gameserver_app_port }}:{{ rust_gameserver_app_port }}/udp"
    env:
      TZ: "{{ rust_gameserver_timezone }}"
      PUID: "1000"
      PGID: "1000"
    devices:
      - /dev/dri:/dev/dri
    restart_policy: unless-stopped
    memory: 20g
  when: not (rust_gameserver_molecule_test | default(false))
